
  <p>Find out the weather in your area!</p>

  <%=form_tag("/temperatures", method: "get") do%>
    <%=label_tag(:zip, "Search by Zipcode:")%>
    <%=text_field_tag(:zip)%>
    <%=submit_tag("Search")%>
  <%end%>

  <li class="temp-li">
    <p class="sources">Open Weather:</p>
    <p><span class="category">Location: </span><%=@name%></p>
    <p><span class="category">Temperature: </span><%=@faren%>째F; <%=@cels%>째C</p>
    <p class="sources">Wunderground:</p>
    <p><span class="category">Location: </span><%=@name_w%></p>
    <p><span class="category">Temperature: </span><%=@faren_w%>째F; <%=@cels_w%>째C</p>
  </li>

<p class="note">*Please note the fluctuations in temperatures may be due to different barometer locations within the same zipcode.</p>
