
  <p>Find out the weather in your area!</p>

  <%=form_tag("/temperatures", method: "get") do%>
    <%=label_tag(:zip, "Search by Zipcode:")%>
    <%=number_field_tag(:zip)%>
    <%=submit_tag("Search")%>
  <%end%>

  <li class="temp-li">
    <p class="sources">Wunderground:</p>
    <p><span class="category">Location: </span><%=@name_w%></p>
    <p><span class="category">Current Temperature: </span><%=@faren_w%>°F; <%=@cels_w%>°C</p>
  </li>
